#wrap {
  width: 100vw;
  height: 100vh;
  font-family: 'Pretendard-Regular';
  .inner {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 1280px;
    padding-left: 100px;
    margin: 0 auto;
    .right {
      border-right: 1px dashed #0000fe;
      height: 85%;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        text-align: center;
        margin-top: 60%;
        .img {
          display: flex;
          align-items: center;
          width: 170px;
          height: 220px;
          box-shadow: 2px 2px 2px 2px #ddd;
          img {
            margin-left: 10px;
            width: 150px;
            height: 200px;
          }
        }
        h1 {
          font-weight: 700;
          margin-top: 25px;
          font-size: 20px;
          text-align: center;
        }
      }
      .bottom {
        width: 170px;
        border-top: 1px dashed #0000fe;
        margin: 25px;
        padding-top: 25px;
        line-height: 25px;
        font-size: 14px;
        .info {
          color: #9B999A;
          i {
            margin-right: 10px;
          }
        }
        .tel {
          color: #9B999A;
          i {
            margin-right: 10px;
          }
        }
        .email {
          color: #9B999A;
          i {
            margin-right: 10px;
          }
        }
        .addr {
          color: #9B999A;
          i {
            margin-right: 10px;
          }
        }
      }
    }
    .left {
      width: 830px;
      display: flex;
      justify-content: space-between;
      .left01 {
        margin-left: 75px;
        h1 {
          padding-top: 30px;
          padding-bottom: 15px;
          color: #0000fe;
          font-weight: 700;
        }
        .ul {
          display: flex;
          line-height: 25px;
          ul:nth-child(1) {
            li {
              color: #9B999A;
              font-weight: lighter;
              font-size: 14px;
              margin-bottom: 26px;
            }
          }
          ul:nth-child(2) {
            margin-left: 20px;
            li {
              font-size: 14px;
              color: #000;
              span {
                font-weight: lighter;
                color: #9B999A;
                font-size: 12px;
              }
            }
          }
        }
        .ul02 {
          display: flex;
          line-height: 25px;
          ul:nth-child(1) {
            li {
              color: #9B999A;
              font-weight: lighter;
              font-size: 14px;
            }
          }
          ul:nth-child(2) {
            margin-left: 20px;
            li {
              font-size: 14px;
              color: #000;
              span {
                font-weight: lighter;
                color: #9B999A;
                font-size: 12px;
              }
            }
          }
        }
        .ul03 {
          color: #0000fe;
          display: flex;
          font-size: 35px;
          li {
            i {
              margin-right: 15px;
            }
          }
        }
      }
      .left02 {
        h1 {
          padding-top: 30px;
          padding-bottom: 15px;
          color: #0000fe;
          font-weight: 700;
        }
        .ul {
          display: flex;
          line-height: 25px;
          ul:nth-child(1) {
            li {
              color: #9B999A;
              font-weight: lighter;
              font-size: 14px;
            }
          }
          ul:nth-child(2) {
            margin-left: 20px;
            li {
              font-size: 14px;
              color: #000;
              span {
                font-weight: lighter;
                color: #9B999A;
                font-size: 12px;
              }
            }
          }
        }
        .ul02 {
          display: flex;
          line-height: 25px;
          ul:nth-child(1) {
            li {
              margin-bottom: 26px;
              color: #9B999A;
              font-weight: lighter;
              font-size: 14px;
            }
          }
          ul:nth-child(2) {
            margin-left: 20px;
            li {
              font-size: 14px;
              color: #000;
              span {
                font-weight: lighter;
                color: #9B999A;
                font-size: 12px;
              }
            }
          }
        }
        .ul03 {
          display: flex;
          line-height: 25px;
          ul:nth-child(1) {
            li {
              color: #9B999A;
              font-weight: lighter;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}